//@import "~normalize.css/normalize.css";
//@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
@import "styles/variables.scss";



.App {
 /*  display: flex;
  flex-direction:column; */
  &.header{
    margin:0 1.5rem 0 1.5rem;
  }
}

 h2,
h4 {
  //font-weight: 300;
  text-align: center;
  font-family: $font-family;
  letter-spacing: 0.10rem;
 /*  width: 70%; */
  justify-content: center;
}

h5 {
  margin-top: 0px;
} 
/* .layout {
  display: flex;
  min-height: 100vh;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
} */