@import "../styles/variables.scss";

.calender-container {
  //border: 0.1rem solid black;
  background: $header;
  max-width: 500px;
  margin: 2rem auto 5rem auto;
  padding: 1.5rem;
  border-radius: 4px;

  .calender-information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $font-color;

    text-transform: uppercase;
    padding: 1rem 0;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 4px;
    //letter-spacing: 0.25rem;
    h2{
      width: 25%;
    }
  }
  .weekCalenderContainer {
    //border: 0.1rem solid lightskyblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: $font-color;
    // padding: 0 5% 0 5%;

    .weekDay {
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: space-between;
      width: 20%;
      padding: 20px;
      // border: solid;
    }

    .selected {
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: space-evenly;
      width: 20%;
      border-style: solid;
      border-radius: 20px;
      font-size: large;
      font-weight: 700;
    }
  }
  .exercises-container {
    // border: 0.1rem solid lightskyblue;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    padding: 5vw;
    border: 0.1rem solid lightskyblue;
    border-radius: 20px;

    .add-new-exercise {
      align-self: center;
      margin-top: 5vh;
    }
  }
}
