@import "../styles/variables.scss";

.container-login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../public/pexels-cottonbro-4753987.jpg");

  .login-images {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
  }
  #login-image-text {
    width: 100px;
    height: 30px;
    margin-top: 0.7rem;
  }
  #login-image-picture {
    width: 50px;
    height: 50px;
  }
  .login {
    min-width: 250px;
    min-height: 150px;
    max-width: 500px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $header;
    padding: 3rem 2rem 3.5rem 2rem;
    margin: 40vh auto 40vh auto;

    h3 {
      align-self: center;
      margin-top: 0;
      color: #ffc600;
    }

    .submit {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      button {
        width: 40%;
        background: $header;
        color: $font-color;
        text-transform: uppercase;
        padding: 1rem;
        font-size: 12px;
        letter-spacing: 0.25rem;
        border-radius: 4px;
        &:hover {
          background: $font-color;
          color: $header;
        }
      }

      .toggle-signup {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $font-color;
        padding: 0.85rem;

        &:hover {
          color: $font-color;
          cursor: pointer;
          border: 1px solid $font-color;
          border-radius: 4px;
        }
      }
    }
  }

  .signup {
    min-width: 250px;
    min-height: 400px;
    max-width: 500px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $header;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin: 40vh auto 40vh auto;

    h3 {
      align-self: center;
      margin-top: 0;
      color: $font-color;
    }

    .submit {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      button {
        width: 40%;
        text-transform: uppercase;
        padding: 1rem;
        font-size: 12px;
        letter-spacing: 0.25rem;
        border-radius: 4px;
        background: $header;
        color: $font-color;
        &:hover {
          background: $font-color;
          color: $header;
        }
      }

      .toggle-login {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $font-color;
        padding: 0.85rem;
        &:hover {
          color: $font-color;
          cursor: pointer;
          border: 1px solid $font-color;
          border-radius: 4px;
        }
      }
    }
  }
}
