$background-color: #d1d1d1;
$header: #2c2e43;
$font-color: #ffc600;
$icons: #1976d2;
$hoverover: #93ffd8;
$white: whitesmoke;
$black: black;
$warning: #bf1650;
$deletion: #ee5253;

//font style
$font-family: “Source Sans Pro”, sans-serif;
