
.stacks{
    display:flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    border: 1px solid black;
    font-size: 26px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    padding: 5rem;
    margin:2rem;
    margin-top:10rem;
    
}