.card {
    transition: 0.5s;
    --background:#5D9CEC;
    --text:white;
    color: white;
    position: relative;
    max-width: 87.5%;
    margin: 10px;
    // margin-left: 15px;
    // box-shadow:0 0 2rem -1rem rgba(0,0,0,.05);
    .multi-button {
        z-index:1;
        position: absolute;
        top:1.25rem;
        left:1.25rem;
        border-radius:100%;
        width:0rem;
        height:0rem;
        transform: translate(-45%, -50%);
        transition: .5s cubic-bezier(0.25, 0, 0, 1);
        button {
            display: grid;
            place-items: center;
            position: absolute;
            width:2rem;
            height:2rem;
            border:none;
            border-radius:100%;
            background:var(--background);
            color:var(--text);
            transform: translate(-50%, -50%);
            cursor: pointer;
            transition: .25s cubic-bezier(0.25, 0, 0, 1);
            // box-shadow:0 0 0rem -.25rem var(--background);
            &:hover {
                background:var(--text);
                color:var(--background);
                box-shadow:0 0 1rem -.25rem var(--background);
            }
            &:first-child:nth-last-child(3),
            &:first-child:nth-last-child(3) ~ * { //If there are 3 children
                &:nth-child(1) {
                    left:28%;
                    top:95%;
                }
                &:nth-child(2) {
                    left:28%;
                    top:70%;
                }
                &:nth-child(3) {
                    left:28%;
                    top:45%;
                }
            }


        }
    }
    .container {
        position: relative;
        width:100%;
        height:5vh;
        min-height: 5rem;
        border-radius:1rem;
        background:var(--background);
        color:var(--text);
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        // align-content: center;

        button {
        width:3rem;
        height:3rem;
        border-style: solid;
        // border-color: greenyellow;
        border-radius:100%;
        background:whitesmoke;
        color:var(--background);
        cursor: pointer;

        &:hover {
            background: greenyellow;
            // color:var(--background);
            // border-color: yellow;
        }
        &:focus {
            background: greenyellow;
            color:var(--background);
            border-color: yellow;
        }
        }

        .exercise-name {
            font-size: smaller;
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .exercise-info {
            display: flex;
            font-size: smaller;
            width: 30%;
            justify-content: space-between;
            width: 100%;
            .exercise-completed-button {
                // width: 20%;
                // color:var(--background);
            }

            .exercise-not-completed-button {
                // border-style: solid;
                // border-color: red;
                // border-radius:100%;
                // background:whitesmoke;
                // // color:var(--background);
                // cursor: pointer;
                .checkbox {
                    display: none;
                }
            }

        }
    }
    &:hover .multi-button, .multi-button:focus-within { //Hover or a button inside is focused
        width:10rem;
        height:10rem;
    }

    &:hover {
        transition: 0.5s;
        padding-left: 0.75rem;
    }
}

.empty-card {
    --background:#5D9CEC;
    --text:white;
    width:100%;
    max-width: 87.5%;
    height:5vh;
    margin: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

    border-radius:1rem;
    border-style: solid;
    border-color:var(--background);
    background:var(--text);
    color:var(--background);

    display: flex;
    justify-content: center;
}

#btnbtn {
    border-style: solid;
    border-radius:100%;
    background:whitesmoke;
    color:var(--background);
    cursor: pointer;
    
    &:hover {
        background: greenyellow;
    }
}

#demo:checked + label {
    #btnbtn {
        background: greenyellow;
        color:var(--background);
        border-color: yellow;

    }

}

#demo {
    display: none;
}
label {
    display: block;
}