.card {
    --background:#5D9CEC;
    --text:white;
    color: white;
    position: relative;
    max-width: 87.5%;
    margin: 10px;
    box-shadow:0 0 2rem -1rem rgba(0,0,0,.05);
    .multi-button {
        z-index:0;
        position: absolute;
        top:1.25rem;
        left:1.25rem;
        border-radius:100%;
        width:0rem;
        height:0rem;
        transform: translate(-50%, -50%);
        transition: .25s cubic-bezier(0.25, 0, 0, 1);
        button {
            display: grid;
            place-items: center;
            position: absolute;
            width:2rem;
            height:2rem;
            border:none;
            border-radius:100%;
            background:var(--background);
            color:var(--text);
            transform: translate(-50%, -50%);
            cursor: pointer;
            transition: .25s cubic-bezier(0.25, 0, 0, 1);
            box-shadow:0 0 0rem -.25rem var(--background);
            &:hover {
                background:var(--text);
                color:var(--background);
                box-shadow:0 0 1rem -.25rem var(--background);
            }
            &:first-child:nth-last-child(3),
            &:first-child:nth-last-child(3) ~ * { //If there are 3 children
                &:nth-child(1) {
                    left:20%;
                    top:100%;
                }
                &:nth-child(2) {
                    left:20%;
                    top:75%;
                }
                &:nth-child(3) {
                    left:20%;
                    top:50%;
                }
            }


        }
    }
    .container {
        position: relative;
        width:100%;
        height:100%;
        border-radius:1rem;
        background:var(--background);
        color:var(--text);
        padding: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
        
        width:3rem;
        height:3rem;
        border-style: solid;
        border-color: greenyellow;
        border-radius:100%;
        background:whitesmoke;
        color:var(--background);
        cursor: pointer;

        &:hover {
            background: greenyellow;
            color:var(--background);
            border-color: yellow;
        }
        &:focus {
            background: greenyellow;
            color:var(--background);
            border-color: yellow;
        }
        }

        .exercise-name {
            font-size: smaller;
            display: flex;
            justify-content: center;
            width: 30%;
        }

        .exercise-info {
            font-size: smaller;
            width: 30%;
            // display: flex;
        }
        .exercise-completed-button {
            width: 20%;
        }
    }
    &:hover .multi-button, .multi-button:focus-within { //Hover or a button inside is focused
        width:10rem;
        height:10rem;
    }
}
