.exercises-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  border: 0.1rem solid lightskyblue;
  border-radius: 20px;

  .add-new-exercise {
    align-self: center;
    margin-top: 5vh;
  }
}