.weekCalenderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // padding: 0 5% 0 5%;
  .weekDay {
    width: 20%;
    padding: 20px;
    // border: solid;
    display: flex;
    flex-direction: column;
    // align-content: center;
    // justify-content: center;
    align-items: center;
  }
  
  .selected {
    width: 20%;
    border-style: solid;
    border-radius: 20px;
  }
}